main-header
sidebar
.page.localization_page
    .container.with_sidebar
        h3 Angular Pure Datepicker
        section.demo
            form#demo_simple_form(name="demo_simple_form")
                .form-group
                    label.control-label(for="apd_1") Date
                    pure-datepicker#apd_1(ng-model="basicExample.model", apd-localization="localNames")
            model-well(case-model="basicExample")
        section.overview
            .pitch
                h5 Localization
                p
                    | You can provide names for days of week by passing an
                    code Array of strings
                    | &nbsp;
                    | to
                    | &nbsp;
                    code apd-localization
                    | &nbsp;
                    | directive.
            .settings
                h4 Settings
                ul
                    li
                        code ng-model
                        | &nbsp;
                        | -
                        | &nbsp;
                        code Object
                        | , can be
                        | &nbsp;
                        code empty
                        | &nbsp;
                        | or
                        | &nbsp;
                        code null
                        | , but
                        | &nbsp;
                        code required
                        | .
                        br
                        | The result of select would placed here. Also if
                        | &nbsp;
                        code ng-model
                        | &nbsp;
                        | is object with
                        | &nbsp;
                        code datetime
                        | &nbsp;
                        | field
                        | (should contain number), it's will be applied as initial date value.
                    li
                        code apd-localization
                        | &nbsp;
                        | -
                        | &nbsp;
                        code Array of strings
                        | ,
                        | &nbsp;
                        code optional
                        | .
                        br
                        | Array of days of week names
        plunker-edit(html-content="localizedExample.template", js-content="localizedExample.script")
        section.html.demo_code(hljs, source="localizedExample.template", language="html")
        section.js.demo_code(hljs, source="localizedExample.script", language="javascript")
