main-header
sidebar
.page.basic_page
    .container.with_sidebar
        section
            h1 Angular Pure Datepicker
            form#demo_simple_form(name="demo_simple_form")
                .form-group
                    label.control-label(for="apd_1") Date
                    pure-datepicker#apd_1(ng-model="basicExample.model")
            model-well(case-model="basicExample")
        div
            .pitch
                | is kind of old-school date select, but with modern look and feel and abilities.
            .settings
                h6 Settings
                ul
                    li
                        code ng-model
                        | &nbsp;
                        | -
                        | &nbsp;
                        code Object
                        | , can be
                        | &nbsp;
                        code empty
                        | &nbsp;
                        | or
                        | &nbsp;
                        code null
                        | , but
                        | &nbsp;
                        code required
                        | .
                        br
                        | The result of select would placed here. Also if
                        | &nbsp;
                        code ng-model
                        | &nbsp;
                        | is object with
                        | &nbsp;
                        code datetime
                        | &nbsp;
                        | field
                        | (should contain number), it's will be applied as initial date value.
                    li
                        code apd-start
                        | &nbsp;
                        | -
                        | &nbsp;
                        code number
                        | ,
                        | &nbsp;
                        code optional
                        | .
                        br
                        | Datetime of a lower date limit (model's values lower then limit wouldn't be applied).
                    li
                        code apd-end
                        | &nbsp;
                        | -
                        code number
                        |,
                        | &nbsp;
                        code optional
                        | .
                        br
                        | Datetime of a upper date limit (model's values upper then limit wouldn't be applied).
                    li
                        code apd-day-id
                        | &nbsp;
                        | -
                        | &nbsp;
                        code string
                        | ,
                        | &nbsp;
                        code optional
                        | .
                        br
                        | Setter of custom id for the days select element.
                    li
                        code apd-month-id
                        | &nbsp;
                        | -
                        | &nbsp;
                        code string
                        | ,
                        | &nbsp;
                        code optional
                        | .
                        br
                        | Setter of custom id for the month select element.
                    li
                        code apd-year-id
                        | &nbsp;
                        | -
                        | &nbsp;
                        code string
                        | ,
                        | &nbsp;
                        code optional
                        | .
                        br
                        | Setter of custom id for the years select element.
                    li
                        code apd-day-classes
                        | &nbsp;
                        | -
                        | &nbsp;
                        code string
                        | ,
                        | &nbsp;
                        code optional
                        | .
                        br
                        | Setter of custom classes for the days select element.
                    li
                        code apd-month-classes
                        | &nbsp;
                        | -
                        | &nbsp;
                        code string
                        | ,
                        | &nbsp;
                        code optional
                        | .
                        br
                        | Setter of custom classes for the month select element.
                    li
                        code apd-year-classes
                        | &nbsp;
                        | -
                        | &nbsp;
                        code string
                        | ,
                        | &nbsp;
                        code optional
                        | .
                        br
                        | Setter of custom classes for the years select element.
        settings
            | code example