.apd_root
  .apd_elem
    display inline-block
    height 34px
    line-height 1.42857143
    padding 6px 12px
    &.apd_select
      font-size 14px
      color #555
      background-color #fff
      background-image none
      border 1px solid #ccc
      border-radius 4px
      box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)
      transition border-color ease-in-out .15s, box-shadow ease-in-out .15s
      &.apd_select_day
        border-bottom-right-radius 0
        border-top-right-radius 0
      &.apd_select_month
        border-radius 0
      &.apd_select_year
        border-bottom-left-radius 0
        border-top-left-radius 0
        border-left 0
    &.apd_day_of_week
      vertical-align top
      padding 6px 12px
      font-size 14px
      font-weight 400
      color #555
      text-align center
      background-color #eee
      border 1px solid #ccc
      border-left 0
      border-right 0
      min-width 55px
