.page
  margin-top 20px;
  .container
    .demo
      width 50%
      display inline-block
      vertical-align top
      padding: 15px;
    .overview
      width 50%
      display inline-block
      vertical-align top
      padding: 15px;
    &.with_sidebar
      padding-left 138px