
.nav-sidebar
  overflow-y auto
  position fixed
  width 200px
  height 100%
  > li
    > a
      display block
      padding 4px 20px
      font-size 13px
      color #767676

.nav-sidebar
  > .active
    > a, a:hover, a:focus
      color #fff