
.nav-sidebar
  float left
  width 200px
  overflow hidden
  margin-right -21px
  margin-bottom 20px
  > li
    > a
      display block
      padding 4px 20px
      font-size 13px
      color #767676

.nav-sidebar
  > .active
    > a, a:hover, a:focus
      color #fff
      background-color #428bca
