ul.nav.nav-sidebar
    li
        a(ui-sref="basic_example") Basic Example
        a(ui-sref="limits_example") Limits Example
        a(ui-sref="localization_example") Localization
        a(ui-sref="stying_example") Styling